In [70]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [71]:
import pandas as pd
import numpy as np
from sklearn import preprocessing, neighbors
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import KNeighborsRegressor
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split

In [72]:
filename = '/content/drive/MyDrive/CODING DOJO/Códigos/Semana 5/abalone.csv'
df = pd.read_csv(filename, header=None)
df.head()

   0      1      2      3       4       5       6      7   8
0  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150  15
1  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
2  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
3  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
4  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7

In [73]:
df.columns=['Sex', 'Lenght', 'Diameter', 'Height', 'whole_weight', 'shucked_weight', 'viscera_weight', 'shell_weight', 'rings']
df.head()

,Sex,Lenght,Diameter,Height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [74]:
y=df['rings']
X=df[['Lenght', 'Diameter', 'Height', 'whole_weight', 'shucked_weight', 'viscera_weight', 'shell_weight']]

Predecir Edad

In [75]:
pipe = make_pipeline(StandardScaler(), PCA(n_components = 3), KNeighborsRegressor())
pipe.fit(X, y)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('pca', PCA(n_components=3)),
                ('kneighborsregressor', KNeighborsRegressor())])

In [76]:
age_preds=pipe.predict(X)

In [77]:
pipe.score(X, y)

0.555516247171865

Predecir el sexo

In [78]:
X=df[['Lenght', 'Diameter', 'Height', 'whole_weight', 'shucked_weight', 'viscera_weight', 'shell_weight','rings']]
y=df['Sex']

In [79]:
pipe2 = make_pipeline(StandardScaler(), PCA(n_components = 3), KNeighborsClassifier())
pipe2.fit(X, y)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('pca', PCA(n_components=3)),
                ('kneighborsclassifier', KNeighborsClassifier())])

In [80]:
pipe2.score(X,y)

0.6689011252094805